img{
  background-image: url(jeff.jpg);
  animation: blink 2s infinite; /* 2s é a duração da animação */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.terrifying-text {
  font-family: 'Gothic', sans-serif; /* Use uma fonte gótica ou similar */
  font-size: 24px;
  color: #990000; /* Use uma cor escura, como vermelho escuro ou preto */
  text-shadow: 2px 2px 4px #000; /* Adicione uma sombra ao texto */
  background-color: #000; /* Cor de fundo escura para um efeito mais tenebroso */
  padding: 20px;
}

body {
  background-color: #111; /* Cor de fundo escura para criar um ambiente sombrio */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}